<div class="card sidebar">

  <div class="profile-image">
    <img src="/assets/img/profile.png" alt="Profile picture" class="profile-image">
  </div>

  <h3>Subluxe</h3>

  <p>justin.<br>
  osrs.<br>
  maplestory.<br>
  mechanical keyboards.<br><br>
  from canada 🇨🇦, living in japan 🇯🇵.<br><br>
  日本語・ENG<br><br></p>

  <h3>Links</h3>
  <div class="links">
    <a href="https://github.com/SubluxeMK" target="_blank">GitHub</a>
    <a href="https://x.com/subluxemk" target="_blank">Twitter</a>
  </div>
</div>
